<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <div class="navbar-brand">
      <ul>
        <li>
          <a [routerLink]="'/'" class="text-decoration-none link-light anchor"
            >Home</a
          >
        </li>
        <li>
          <a
            [routerLink]="'aboutme'"
            class="text-decoration-none link-light anchor"
            >About Me</a
          >
        </li>
        <li>
          <a
            [routerLink]="'projects'"
            class="text-decoration-none link-light anchor"
            >Projects</a
          >
        </li>
      </ul>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
