<div
  class="row"
  style="
    background-image: url('assets/aboutbackground.png');
    background-size: 1500px 1400px;
  "
>
  <div
    class="col text-center"
    style="font-size: 100px; padding-top: 300px; padding-bottom: 300px"
  >
    About Me
  </div>
  <div
    class="row text-center"
    style="
      padding-top: 300px;
      padding-bottom: 300px;
      background-image: url('assets/about2background.png');
      background-size: 1500px 1400px;
    "
  >
    <div class="col-6" style="padding-left: 200px">
      <h1>The Techy Stuff</h1>
      <h5 style="padding-top: 30px">
        Since summer 2022, I've been enthralled by web and app development. I've
        never flet so motivated to work long hours to get something to work. For
        example, during my internship at Local Knowledge, I would sometimes need
        to work 10-12 hours per day to meet strict deadlines, which I (somewhat)
        happily obliged. Then, in Fall 2022, I went on to complete a React
        project implementing the Mancala game with a minimax algorithm. I am
        currently assisting Professor Adam Eck with data visualization of
        machine learning models using R and the R Shiny App. I also learned
        Angular during spring semester 2023 to complete this porfolio website
        from scratch!
      </h5>
    </div>
    <div class="col-6" style="padding-left: 110px; padding-right: 110px">
      <h1>Everything Else</h1>
      <h5 style="padding-top: 30px">
        On the opposite end of the spectrum, I am very involved in the music
        scene at Oberlin College. I've loved singing, playing guitar, and
        writing music since high school, and have been lucky enough to find a
        fantastic group of members to form a band with. We're called Metalmarks,
        and we make a variety of music, from math rock to shoegaze to grunge.
        Also, I am the Social Media manager of the Oberlin Gear Co-op. The Gear
        Co-op provides a practice space for non-conservatory students, as well
        as renting out equipment to students for concerts and house shows.
      </h5>
    </div>
  </div>
</div>
