<div
  class="row"
  style="
    background-image: url('assets/projectsbackground.png');
    background-size: 1500px 1400px;
  "
>
  <div class="col">
    <div class="col text-end" style="padding-top: 400px; padding-bottom: 400px">
      <h1 style="font-size: 110px; padding-right: 355px; padding-top: 35px">
        Projects
      </h1>
    </div>
  </div>
</div>
<div
  class="row"
  style="
    padding-top: 150px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
  "
>
  <div class="col text-center">
    <h1 style="padding-bottom: 18px">Angular Website</h1>
    <img src="assets/portfolio.png" class="img-fluid rounded w-75 m-4" />
    <p style="padding-left: 30px; padding-right: 30px">
      Developed a personal portfolio website from scratch using Angular,
      showcasing expertise in website design. Demonstrated ability to create an
      intuitive user experience by utilizing routing, animation, etc. The site’s
      sleek and modern design shows my proficiency in web development, while the
      seamless navigation and stunning animations showcase attention to detail
      and dedication to delivering a polished final product.
    </p>
  </div>
  <div class="col text-center">
    <h1 style="padding-bottom: 15px">R Shiny App</h1>
    <img src="assets/rshiny.png" class="img-fluid rounded w-75 m-4" />
    <p style="padding-left: 30px; padding-right: 30px">
      Develop and implement data analysis and web development skills to create
      interactive maps for visualizing the results of machine learning
      experiments on COVID outcomes. Collaborate with a team to update the R
      Shiny app with features that display the outcomes from machine learning
      models and geographic distributions of model errors. Demonstrate
      proficiency in data visualization, geospatial analysis, and web
      development technologies
    </p>
  </div>
  <div class="col text-center">
    <h1 style="padding-bottom: 15px">Time Series</h1>
    <img src="assets/timeseries.png" class="img-fluid rounded w-75 m-4" />
    <p style="padding-left: 30px; padding-right: 30px">
      Collaborated with a team to execute time series forecasting on energy
      usage data for freshman dorms at Oberlin College using Python programming
      language. Led the experimentation process of various regression models and
      utilized data visualization techniques to enhance the understanding of the
      results. Contributed to the development of a robust predictive model to
      provide insights into energy consumption patterns.
    </p>
  </div>
</div>
<div class="row" style="padding-bottom: 100px">
  <div class="col text-center">
    <h1 style="padding-bottom: 15px">Mancala Game</h1>
    <img src="assets/mancala.png" class="img-fluid rounded w-25 m-4" />
    <p style="padding-left: 490px; padding-right: 490px">
      Developed a digital Mancala game using React, with options to play against
      two different AI opponents or with another player. Demonstrated
      proficiency in styling with Bootstrap, linking pages with
      react-router-dom, setting event listeners, updating states, and
      implementing the Minimax algorithm.
    </p>
  </div>
</div>
